<%#= image_tag 'Red_Wine.jpg', class: 'background_image' %>
<% introduction = "I'm a programmer that has basic and solid knowledge of Ruby
  on Rails framework for web developing. I have previous experience completing two
  courses in Udemy that included normal backend content and another to learn
  Behavior Driven Development (BDD) to have good practices testing features.
  I also read an online book from Michael Hartl. I have enough understanding of
  SQL language, experience with PostgreSQL, MySQL and SQLite. Other known languages:
  Java, C, Pascal." %>

<div class="background-image">
  <div class="row">
    <div class="col-xs-12 background-transparent" align="center">
      <h1 class="front-text">
        Ruby on Rails Junior Web Developer
      </h1>
      <div class="row">
        <div class="col-xs-3">
          <%#= image_tag 'ruby_on_rails.png', class: "left-rubyrails" %>
        </div>
        <div class="col-xs-6">
          <%= image_tag 'ruby-on-rails.png', class: "center-rubyrails" %>
          <hr class="thick">
        </div>
        <div class="col-xs-3">
          <%#= image_tag 'ruby_on_rails.png', class: "right-rubyrails" %>
        </div>
      </div>
      <h1>
        <span class="front-text">Jesús Di Bari</span>
      </h1>
    </div>
  </div>
  
  <div class="row two-boxes">
    <div class="col-xs-1">
      <button type="button" class="btn btn-danger btn-sm me-button">ME</button>
    </div>
    
    <div class="col-xs-3">
      <div class="left-box">
        <div class="inner-left-box">
          <h1 align="center" class="left-box-text">
            WHO &nbsp;I &nbsp;AM
          </h1>
        </div>
      </div>
    </div>
    
    <div class="col-xs-2">
      <button type="button" class="btn btn-danger btn-lg left-button">Let's See!</button>
    </div>
    
    <div class="col-xs-2">
      <button type="button" class="btn btn-danger btn-lg right-button">Check it out!</button>
    </div>
    
    <div class="col-xs-3">
      <div class="right-box">
        <div class="inner-right-box">
          <h1 align="center" class="right-box-text">
            WHAT &nbsp;I &nbsp;DO
          </h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row two-contents">
    <div class="col-xs-3 profile" style="position: absolute;">
      <div class="parent">
        <div class="child"></div>
        <h3>Contact:</h3>
        <p>
          E-Mail: iijbari@gmail.com<br>
          Facebook: facebook.com/The.Glitcher<br>
          Twitter: @JesusDiByte<br>
        </p>
      </div>
    </div>
    
    <div class="col-xs-offset-3 col-xs-6 left-content">
      <div align="justify">
        <h3>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= introduction %>
        </h3>
      </div>
    </div>
    
    <div class="col-xs-offset-3 col-xs-6 right-content">
      <div align="justify">
        <h3>
          WELL WELL HELLO FRIEND
        </h3>
      </div>
    </div>
  </div><!--.row-->
</div>