<%#= image_tag 'Red_Wine.jpg', class: 'background_image' %>

<div class="background-image">
  <div class="row">
    <div class="col-xs-12 background-transparent" align="center">
      <h1 class="front-text">
        Ruby on Rails Junior Web Developer
      </h1>
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <hr class="thick">
        </div>
      </div>
      <h1 class="front-text">
        Jesús Di Bari
      </h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6">
      <h1>
        BABALOO!
      </h1>
    </div>
  </div>
</div>