<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Who I am</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>