.center-rubyrails {
  position: absolute;
  left: 245px;
  top: -40px;
  width: 20%;
}

li {
  a {
    color: #722f37 !important;
  }
}

.left-rubyrails, .right-rubyrails {
  position: absolute;
  width: 40%;
}

.navbar {
  background-color: #FFF7F7 !important;
  border-bottom: 2px solid #722f37 !important;
}