.center-rubyrails {
  position: absolute;
  left: 40%;
  top: -35px;
  height: 120px;
}

li {
  a {
    color: #722f37 !important;
  }
}

// .left-rubyrails, .right-rubyrails {
//   position: absolute;
//   width: 40%;
// }

.navbar {
  background-color: #FFF7F7 !important;
  border-bottom: 2px solid #722f37 !important;
}