.child {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: image-url("Yo-ig.jpg");
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

.parent {
  border: solid 1px;
  border-radius: 20px;
  height: 290px;
  overflow: hidden;
  width: 100%;
}

.profile {
  //background-color: #722f37;
  color: white;
}

.profile-pic {
  //width: 100%;
}

.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}

.parent {
  h3, p {
    position: absolute;
    left: 20px;
  }
  
  h3 {
    bottom: 85px;
  }
  
  p {
    bottom: -5px;
  }
}