.background-image {
  background: image-url('Red_Wine.jpg');
  background-size: cover;
  margin-top: 50px;
  min-height: 550px;
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.background-transparent {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.front-text {
  color: white;
  font-size: 65px;
}

